@model MVC2013.Models.Bodega_Inventario_Consumibles

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Inventario/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bodega_Inventario_Consumibles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_bodega_inventario_consumibles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_bodega_inventario_consumibles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.existencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.existencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eliminado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eliminado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_modificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_eliminacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_eliminacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios1.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios1.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios2.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios2.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bodegas.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bodegas.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consumibles.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumibles.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_consumible }) |
    @Html.ActionLink("Back to List", "Index")
</p>
