@model IEnumerable<MVC2013.Models.Capacitacion>
@{
    ViewBag.Title = @Resources.Resources.capacitacion + "_" + Resources.Resources.lista;
    Layout = "~/Areas/rrhh/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resources.capacitacion_lista</h2>

<div class="table-responsive" style="max-height:400px; overflow-y:auto">
    <table class="table-striped">

        <thead>
            <tr>
                <th>@Resources.Resources.capacitacion_nombre</th>
                <th>@Resources.Resources.acciones</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    <button class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("Edit", new { id = item.id_capacitacion, id_academia = ViewBag.id_academia })'">
                        <span class="glyphicon glyphicon-edit"></span>&nbsp; @Resources.Resources.editar
                    </button>
                    <button class="btn btn-danger btn-sm" onclick="location.href = '@Url.Action("Delete", new { id = item.id_capacitacion, id_academia = ViewBag.id_academia })'">
                        <span class="glyphicon glyphicon-trash"></span>&nbsp;@Resources.Resources.eliminar
                    </button>
                </td>
            </tr>
        }

    </table>
</div>
<div class="form-group">
    <button class="btn-bitbucket btn-sm" onclick="location.href = '@Url.Action("Index", "Capacitacion" , new { id = ViewBag.id_academia })'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp; @Resources.Resources.listado_regresar
    </button>
</div>




