@model MVC2013.Models.Facturas
@using System.Globalization
@using MVC2013.Src.Comun.Util
@{
    ViewBag.Title = "Detalles de Factura";
    Layout = "~/Areas/Customers/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de la Factura</h2>



<div class="panel panel-info">
    <div class="panel-heading bg-navy">Información Factura</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <label class="">Cliente</label>
                <div class="">@Model.Razones_Sociales.Clientes.nombre</div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <label class="">Razon Social</label>
                <div class="">@Model.Razones_Sociales.razon_social</div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <label class="">Estado Factura</label>
                <div class="" style="font-size: xx-large"><text id="color_label">@Model.Cat_Estados_Factura.nombre</text></div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <label class="">Serie</label>
                <div class="" style="font-size: xx-large">@Model.serie</div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <label class="">Numero Factura</label>
                <div class="" style="font-size: xx-large">@Model.numero_factura</div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <label class=" ">Fecha</label>
                <div class=" ">@Model.fecha_factura.ToString("dd/MM/yyyy")</div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <label class=" ">Descripción</label>
                <div class=" ">@Model.descripcion</div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <label class=" ">Direccion</label>
                <div class=" ">@Model.Razones_Sociales.direccion_facturacion</div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <label class=" ">Nit</label>
                <div class=" ">@Model.Razones_Sociales.nit</div>
            </div>
        </div>
        <br />
        <div class="panel panel-default">
            <div class="panel-heading bg-purple">Datos de Auditoría</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <label class="control-label">Creado por</label>
                        <div class="">@Model.Usuarios.nombre_completo_usuario</div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <label class="">Fecha Creación</label>
                        <div class="">@Model.fecha_creacion.ToString("dd/MM/yyyy")</div>
                    </div>
                </div>
                @if (Model.id_usuario_modificacion.HasValue)
                {
                    <br />
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                            <label class="">Modificado Por</label>
                            <div class="">
                                @Model.Usuarios2.nombre_completo_usuario
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                            <label class="">Fecha Modificación</label>
                            <div class="">
                                @Model.fecha_modificacion.Value.ToString("dd/MM/yyyy")
                            </div>
                        </div>
                        @if ((int)Catalogos.Estado_Factura.Anulada == Model.id_cat_estado_factura)
                        {
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                <label class="">Comentario Anulación</label>
                                @if (Model.comentario_anulacion != null)
                                {
                                    <div class="">@Model.comentario_anulacion.ToUpper()</div>
                                }
                                else
                                {
                                    <div class="">----</div>
                                }

                            </div>
                        }
                        @if ((int)Catalogos.Estado_Factura.Eliminada == Model.id_cat_estado_factura)
                        {
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                <label class="">Comentario Eliminación</label>

                                @if (Model.comentario_eliminacion != null)
                                {
                                    <div class="">@Model.comentario_eliminacion.ToUpper()</div>
                                }
                                else
                                {
                                    <div class="">----</div>
                                }
                            </div>
                        }
                    </div>
                }
                @if (Model.id_usuario_eliminacion.HasValue)
                {
                    <br />
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                            <label class="">Eliminado Por</label>
                            <div class="">
                                @Model.Usuarios1.nombre_completo_usuario
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                            <label class="">Fecha Eliminación</label>
                            <div class="">
                                @Model.fecha_eliminacion.Value.ToString("dd/MM/yyyy")
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        
        <hr />
        <table class="table-hover">
            <tr>
                <th>
                    Ubicacion
                </th>
                <th>
                    Tipo de Servicio
                </th>

                <th>
                    Cantidad
                </th>
                <th>
                    Precio de Venta Unitario
                </th>
                <th>
                    Importe
                </th>
            </tr>
            @foreach (var item_fac_detalle in Model.Facturas_Detalle.Where(x => x.activo && !x.eliminado).OrderBy(x => x.descripcion))
            {
                <tr>
                    <td>
                        @if (item_fac_detalle.id_proceso_facturacion_detalle.HasValue)
                        {
                            if (item_fac_detalle.Procesos_Facturacion_Detalle.id_ubicacion.HasValue)
                            {
                                @item_fac_detalle.Procesos_Facturacion_Detalle.Ubicaciones.nombre
                            }
                            else
                            {
                                <text>----</text>
                            }
                        }
                        else if (item_fac_detalle.id_contrato_agente.HasValue)
                        {
                            if (item_fac_detalle.Contratos_Agentes.id_ubicacion.HasValue)
                            {
                                 @item_fac_detalle.Contratos_Agentes.Ubicaciones.nombre
                            }
                            else
                            {
                                <text>----</text>
                            }
                        }
                        else if (item_fac_detalle.id_contrato_otro_servicio.HasValue)
                        {
                            if (item_fac_detalle.Contratos_Otros_Servicios.id_ubicacion.HasValue)
                            {
                                @item_fac_detalle.Contratos_Otros_Servicios.Ubicaciones.nombre
                            }
                            else
                            {
                                <text>----</text>
                            }
                        }
                        else
                        {
                            <text>----</text>
                        }
                    </td>
                    <td>
                        @item_fac_detalle.descripcion
                    </td>

                    <td>
                        @item_fac_detalle.cantidad
                    </td>
                    <td>
                        @item_fac_detalle.precio_venta_unitario.ToString("C", CultureInfo.GetCultureInfo("es-GT"))
                    </td>
                    <td>
                        @((item_fac_detalle.cantidad * item_fac_detalle.precio_venta_unitario).ToString("C", CultureInfo.GetCultureInfo("es-GT")))
                    </td>
                </tr>
            }

        </table>
        <div class="row">
            @if (Model.id_cat_estado_factura == (int)Catalogos.Estado_Factura.creada || Model.id_cat_estado_factura == (int)Catalogos.Estado_Factura.En_Cobro || Model.id_cat_estado_factura == (int)Catalogos.Estado_Factura.Pagada)
            {
                <div class="  col-lg-9 col-sm-9 col-xs-9" style="text-align:right">
                    <button class="btn btn-sm btn-warning" type="button" onclick="location.href='@Url.Action("GetFactura", "Clientes", new { id = Model.id_factura })'">
                        <span class="glyphicon glyphicon-download"></span>&nbsp;Descargar Factura
                    </button>
                </div>
            }
            <h3 class="col-md-offset-9 col-lg-offset-9 col-sm-offset-9 col-xs-offset-9"><label>Total:&nbsp;</label>&nbsp;@Model.total.ToString("C", CultureInfo.GetCultureInfo("es-GT"))</h3>
        </div>
    </div>
</div>
<script>
    var estado = @Model.id_cat_estado_factura;
    var catalogo_creada = @((int)Catalogos.Estado_Factura.creada);
    var catalogo_cobro = @((int)Catalogos.Estado_Factura.En_Cobro);
    var catalogo_pagada = @((int)Catalogos.Estado_Factura.Pagada);
    var catalogo_anulada = @((int)Catalogos.Estado_Factura.Anulada);
    var catalogo_eliminada = @((int)Catalogos.Estado_Factura.Eliminada);
    $(function () {
        if (estado == catalogo_creada) {
            $('#color_label').addClass("label-primary");
        }
        else if (estado == catalogo_cobro) {
            $('#color_label').addClass("label-info");
        }
        else if (estado == catalogo_pagada) {
            $('#color_label').addClass("label-success");
        }
        else if (estado == catalogo_anulada) {
            $('#color_label').addClass("label-warning");
        }
        else if (estado == catalogo_eliminada) {
            $('#color_label').addClass("label-danger");
        }
    });
</script>