@model MVC2013.Models.Tipos_Servicios

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administracion/Views/Shared/_Layout.cshtml";
}

<h2>Crear Servicio Nuevo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="panel panel-success">
            <div class="panel-heading bg-green">Informacion de Servicio</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-success btn-sm" type="submit">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;@Resources.Resources.crear
                </button>
            </div>
        </div>
    </div>
}

<div>
    <div>
        <button class="btn btn-sm btn-primary" onclick="location.href = '@Url.Action("Index")'">
            <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
        </button>
    </div>

</div>
