@model MVC2013.Models.Estado_Fuerza_Detalle

@{
    ViewBag.Title = "Estado_Fuerza_Detalle_Eliminar";
    Layout = "~/Areas/EstadoFuerza/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar registro de Estado de Fuerza</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Empleado</dt>
        <dd>@(Model.Empleado.primer_nombre + " " + Model.Empleado.primer_apellido)</dd>
        <dt>Tipo de Agente</dt>
        <dd>@Model.Cat_Tipos_Agente.nombre</dd>
        <dt>Ubicación</dt>
        <dd>@Model.Ubicaciones.direccion</dd>
        <dt>Situación</dt>
        <dd>@Model.Situacion.nombre</dd>
        <dt>Fecha</dt>
        <dd>@Model.Estado_Fuerza.fecha</dd>
        <dt>Observación</dt>
        <dd>@Model.observacion</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>&nbsp;</dt>
        <dd>
            @using (Html.BeginForm("Eliminar", "Estado_Fuerza_Detalle", FormMethod.Post)) 
            {
                @Html.HiddenFor(model=>model.id_estado_fuerza_detalle)
                <button class="bnt btn-sm btn-danger" type="submit">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;@Resources.Resources.eliminar
                </button>
            }
        </dd>
    </dl>
    
</div>
<div class="form-group">
    <button class="btn-sm btn-bitbucket" type="button" onclick="location.href='@Url.Action("Index")'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
    </button>
</div>
