@model IEnumerable<MVC2013.Models.Facturas>
@using System.Globalization
@using MVC2013.Src.Comun.Util
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Customers/Views/Shared/_Layout.cshtml";
}

<h2>Facturas Creadas el Dia de Hoy</h2>
<h4><label>Cliente:</label>@ViewBag.razon_social.razon_social</h4>
<h4><label>Razon Social:</label>@ViewBag.razon_social.Clientes.nombre</h4>

<div class="panel panel-primary">
    <div class="panel-heading">Facturas</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    Serie
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Numero Factura
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Total
                </th>
                <th>
                    Acciones
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.serie
                    </td>
                    <td>
                        @item.Cat_Estados_Factura.nombre
                    </td>
                    <td>
                        @item.numero_factura
                    </td>
                    <td>
                        @item.descripcion
                    </td>
                    <td>
                        @item.total.ToString("C", CultureInfo.GetCultureInfo("es-GT"))
                    </td>
                    <td>
                        @if (item.Razones_Sociales.orden_aceptacion && item.orden_aceptacion_numero == null)
                        {
                            <button class="btn btn-info btn-sm btn_factura_orden" data-url="@Url.Action("Edit", new { id = item.id_factura })">
                                <span class="glyphicon glyphicon-edit"></span>&nbsp;Ingresar Orden de Aceptacion
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-info btn-sm btn_factura_abrir" data-url="@Url.Action("Details","Facturas_Detalle", new { id = item.id_factura })">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;     @Resources.Resources.detalle
                            </button>
                            if (item.Facturas_Detalle.ToList().Count() > 0)
                            {
                                if (item.Facturas_Detalle.ToList().FirstOrDefault().id_proceso_facturacion_detalle.HasValue && item.id_cat_estado_factura == (int)Catalogos.Estado_Factura.creada)
                                {
                                    <button class="btn btn-warning btn-sm btn_factura_abrir" data-url="@Url.Action("Anular","Facturas_Detalle", new { id = item.id_factura })">
                                        <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Anular
                                    </button>
                                }
                            }
                            if (item.Facturas_Detalle.ToList().Count() > 0)
                            {
                                if (item.Facturas_Detalle.ToList().FirstOrDefault().id_proceso_facturacion_detalle.HasValue)
                                {
                                    if ((item.Series_Facturas.correlativo - 1) == item.numero_factura)
                                    {
                                        <button class="btn btn-danger btn-sm btn_factura_abrir" data-url="@Url.Action("Delete", "Facturas_Detalle", new { id = item.id_factura })">
                                            <span class="glyphicon glyphicon-trash"></span>&nbsp;   @Resources.Resources.eliminar
                                        </button>
                                    }
                                }
                            }
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<script>
    $(document).on('click', '.btn_factura_abrir', function () {
        var data = $(this).data("url");
        window.open(data);
    });
    
    $(document).on('click', '.btn_factura_orden', function () {
        var data = $(this).data("url");
        window.open(data);
    });
</script>
