@model MVC2013.Models.Cat_Razones_Eliminacion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Customers/Views/Shared/_Layout.cshtml";
}

<h2> Eliminar Registro de Razón de Eliminación</h2>

<h3>¿Está seguro de eliminar el registro?</h3>

<div>
    <div class="panel panel-default">
        <div class="panel-heading bg-red">Información del Registro</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>

            </dl>
            <dl class="dl-horizontal">
                <dd>
                    @using (Html.BeginForm("Delete", "Cat_Razones_Eliminacion", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button class="btn btn-danger btn-sm" onclick="location.href = '@Url.Action("Delete", new { id = Model.id_cat_razon_eliminacion })'">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;@Resources.Resources.eliminar
                        </button>
                    }
                </dd>
            </dl>

        </div>
    </div>

    <hr />
    
</div>
<p>
    <div>
        <button class="btn btn-sm btn-primary" onclick="location.href = '@Url.Action("Index")'">
            <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
        </button>
    </div>

</p>

