@model MVC2013.Models.rpt_Contrato_Result

@{
    Layout = null;
    MVC2013.Models.AppEntities db = new MVC2013.Models.AppEntities();
    MVC2013.Models.Empleado empleado = db.Empleado.Find(Model.id_empleado);

}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Contratos.css")">*@
    <title>Registro de Firmas</title>
    <style type="text/css">
        body {
            font-size: 14pt;
        }

        .datos_representante {
            text-decoration: underline;
            font-size: 14pt;
        }

        .datos_empleado {
            text-decoration: underline;
            font-size: 14pt;
        }


        .datos_contrato {
            font-size: 16pt;
            text-decoration: underline;
        }

        .cursiva {
            font-style: italic;
        }

        .negrita {
            font-weight: bold;
        }

        .subrayado {
            text-decoration: underline;
        }

        .datos_referencia {
            font-size: 10pt;
        }

        .justificado {
            text-align: justify;
        }

        .derecha {
            text-align: right;
        }

        .izquierda {
            text-align: left;
        }

        .centrado {
            text-align: center;
        }

        .page {
            margin-top: 100px;
            margin-left: 100px;
            margin-right: 100px;
            margin-bottom: 100px;
        }
    </style>

</head>
<body>
    <div class="page">
        <div class="derecha">Código No. @Model.id_empleado </div>
        <br />
        <br />
        <div class="centrado subrayado">REGISTRO DE FIRMAS</div>
        <br />
        <div class="justificado">
            <b>Nombre: </b>@Model.empleado_nombre <b>Código: </b> @Model.id_empleado <br />
            <b>No. De Indentificación: </b>@Model.dpi <br />
            <b>Extendida en:</b> @Model.dpi_municipio
        </div>
        <div class="centrado">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            F) _________________________________________________
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            F) _________________________________________________
        </div>
    </div>
</body>
</html>
