@model MVC2013.Models.Descuento_Periodico
@using System.Globalization;

@{
    ViewBag.Title = Resources.Resources.prestamo + "_" + Resources.Resources.crear;
    Layout = "~/Areas/rrhh/Views/Shared/_Layout.cshtml";
}


<!--Inicio de pagina-->
<h2>@Resources.Resources.prestamo_crear</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="alert alert-danger">
            @Html.ValidationSummary(true, "", new { })
        </div>
    </div>
}

<ul class="nav nav-tabs" id="nav_menu">
    <li class="active"><a data-toggle="tab" href="#seleccion_empleado">@Resources.Resources.empleado</a></li>
    <li><a data-toggle="tab" href="#info_descuento_periodico">@Resources.Resources.prestamo_nombre</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="seleccion_empleado">
        <div class="row">
            <div class="col-lg-12 form-group">
                <table class="table-striped" id="lista_empleados_head">
                    <thead>
                        <tr>
                            <th>@Resources.Resources.empleado_codigo</th>
                            <th>@Resources.Resources.empleado_primer_apellido</th>
                            <th>@Resources.Resources.empleado_segundo_apellido</th>
                            <th>@Resources.Resources.empleado_primer_nombre</th>
                            <th>@Resources.Resources.empleado_segundo_nombre</th>
                            <th>@Resources.Resources.empleado_dpi</th>
                            <th>@Resources.Resources.acciones</th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="number" id="id_empleado_search" autocomplete="off" class="form-control" /></td>
                        <td><input type="text" id="primer_apellido" autocomplete="off" class="form-control" /></td>
                        <td><input type="text" id="segundo_apellido" autocomplete="off" class="form-control" /></td>
                        <td><input type="text" id="primer_nombre" autocomplete="off" class="form-control" /></td>
                        <td><input type="text" id="segundo_nombre" autocomplete="off" class="form-control" /></td>
                        <td><input type="text" id="dpi" autocomplete="off" class="form-control" /></td>
                        <td>
                            <button class="btn btn-primary btn-sm" id="b_search" data-loading-text="Cargando...">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;@Resources.Resources.buscar
                            </button>
                        </td>
                    </tr>
                </table>
                <div class="table-responsive" style="overflow-y:auto; max-height:500px">
                    <table class="table-striped" id="lista_empleados"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="info_descuento_periodico">
        @using (Html.BeginForm("Create", "Descuento_Periodico", FormMethod.Post, new { id = "crear_prestamo" }))
        {
            <div class="row">
                <div class="col-lg-5 col-md-6 col-xs-12 col-sm-12">
                    <dl class="dl-horizontal">
                        <dt>@Resources.Resources.empleado_seleccionado</dt>
                        <dd id="empleado_buscado"></dd>
                        <dt>&nbsp;</dt>
                        <dd> @Html.HiddenFor(model => model.id_empleado, new { id = "id_empleado", required = "required" })</dd>
                        <dt>@Resources.Resources.tipo_prestamo_nombre</dt>
                        <dd>@Html.DropDownListFor(model => model.id_tipo_prestamo, (IEnumerable<SelectListItem>)ViewBag.id_tipo_prestamo, "---", htmlAttributes: new { @class = "form-control", @required = "required" })</dd>
                        <dt>&nbsp;</dt>
                        <dd></dd>
                        <dt>@Resources.Resources.fecha_inicio</dt>
                        <dd>
                            <div style="position:relative">
                                <input type='text' class="form-control" id="fecha_inicio_prestamo" name="fecha_inicio_prestamo" required value="@ViewBag.fecha_inicio_prestamo" />
                            </div>
                        </dd>
                        <dt>&nbsp;</dt>
                        <dd></dd>
                        <dt>@Resources.Resources.prestamo_nombre</dt>
                        <dd>@Html.EditorFor(model => model.cantidad_a_pagar, new { htmlAttributes = new { @class = "form-control", required = "required", id = "prestamo_input" } })</dd>
                        <dt>&nbsp;</dt>
                        <dd></dd>
                        <dt>@Resources.Resources.pagos_requeridos</dt>
                        <dd>@Html.EditorFor(model => model.total_pagos, new { htmlAttributes = new { @class = "form-control", required = "required", type = "number", id = "cuotas_input" } })</dd>
                        <dt>&nbsp;</dt>
                        <dd></dd>
                        <dt>@Resources.Resources.tipo_plan_pago_nombre</dt>
                        <dd>@Html.DropDownListFor(model => model.id_tipo_plan_pago, (IEnumerable<SelectListItem>)ViewBag.id_tipo_plan_pago, "---", htmlAttributes: new { @class = "form-control", @required = "required", @id = "id_tipo_plan_pago" })</dd>
                        <dt>&nbsp;</dt>
                        <dd></dd>
                        <dt>@Resources.Resources.descripcion</dt>
                        <dd>@Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dd>
                            <button class="btn btn-info btn btn-sm" type="submit">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;@Resources.Resources.generar&nbsp;@Resources.Resources.plan_pago_nombre
                            </button>
                        </dd>
                    </dl>
                </div>
            </div>
        }
    </div>
</div>




<div class="form-group">
    <button class="btn-bitbucket btn-sm" type="button" onclick="location.href = '@Url.Action("Index")'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
    </button>

</div>

<script>
    $(function () {

        $(function () {
            $('#fecha_inicio_prestamo').datetimepicker(
                {
                    viewMode: 'days',
                    format: 'MM/YYYY',
                });
        });

        //Busqueda de empleados
        $('#b_search').click(function () {
            var btn = $(this);
            btn.button('loading');
            var nombre = $('#primer_nombre').val();
            var dpi = $('#dpi').val();
            var apellido = $('#primer_apellido').val();
            var id = $('#id_empleado_search').val();
            var segundo_nombre = $('#segundo_nombre').val();
            var segundo_apellido = $('#segundo_apellido').val();
            $.ajax({
                url: '@Url.Action("Search", "Empleado")',
                type: "GET",
                data: { 'primer_nombre': nombre, 'dpi': dpi, 'primer_apellido': apellido, 'id_empleado': id, 'segundo_nombre': segundo_nombre, 'segundo_apellido': segundo_apellido },
                error: function () {
                    btn.button('reset');
                    alert("Error en la obtención de datos del servidor.");
                },
                success: function (response) {
                    btn.button('reset');
                    selector = "#lista_empleados";
                    target = $(selector);
                    target.html("<thead><tr>" +
                        "<th>@Resources.Resources.empleado_codigo</th>" +
                        "<th>@Resources.Resources.empleado_primer_apellido</th>" +
                        "<th>@Resources.Resources.empleado_segundo_apellido</th>" +
                        "<th>@Resources.Resources.empleado_primer_nombre</th>" +
                        "<th>@Resources.Resources.empleado_segundo_nombre</th>" +
                        "<th>@Resources.Resources.empleado_dpi</th>" +
                        "<th>@Resources.Resources.acciones</th></tr></thead>");
                    $.each(response, function ($in, item) {
                        target.append("<tr><td>" + item.id_empleado + "</td><td>" + item.primer_apellido + "</td><td>" + item.segundo_apellido + "</td><td>" + item.primer_nombre + "</td><td>" + item.segundo_nombre + "</td><td>" + item.dpi + "</td><td>" +
                            "<button class=\"btn btn-success btn-sm btn_select_empleado \" data-nombre=\"" + item.id_empleado + " - " + item.primer_nombre + " " + item.primer_apellido + "\"  data-id_empleado=\"" + item.id_empleado + "\"><span class=\"glyphicon glyphicon-ok\"></span>&nbsp;@Resources.Resources.seleccionar</button>"
                            + "</td><tr>");
                    });
                }
            });
        });

        //Boton de detalles de empleado
        $(document).on('click', '.btn_select_empleado', function () {
            var id = $(this).data('id_empleado');
            var nombre = $(this).data('nombre');
            $('#id_empleado').val(id);
            $('#empleado_buscado').text(nombre);
            $('#nav_menu a[href="#info_descuento_periodico"]').trigger('click');
        });

        $("#crear_prestamo").submit(function (event) {
            var incomplete = false;
            $(':input[required=required]').each(function () {
                if ($(this).val() == "" || $(this).val() == null) {
                    var tab = $(this).closest('.tab-pane');
                    id = tab.attr("id");

                    $('#nav_menu a[href="#' + id + '"]').trigger('click');
                    incomplete = true;
                    event.preventDefault();
                    return (false);
                }
            });
            if (!incomplete) {
                return;
            }
        });



        $("#prestamo_input").inputmask('decimal',
                      {
                          'alias': 'numeric',
                          'groupSeparator': ',',
                          'autoGroup': true,
                          'digits': 2,
                          'radixPoint': ".",
                          'digitsOptional': false,
                          'allowMinus': false,
                          'prefix': '',
                          'placeholder': '0'
                      }
                   );

        $('#tabla_empleado').filterByMultiColumn([
            {
                filterClass: 'c_primer_nombre',
                field: 'primer_nombre'
            },
            {
                filterClass: 'c_primer_apellido',
                field: 'primer_apellido'
            },
            {
                filterClass: 'c_segundo_nombre',
                field: 'segundo_nombre'
            },
            {
                filterClass: 'c_segundo_apellido',
                field: 'segundo_apellido'
            }
        ]);
    });
</script>
