@model MVC2013.Models.Pt_Gastos_Costos_Fijos_Mes_Anio

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Comercializacion/Views/Shared/_Layout.cshtml";
}
<div class="form-group">
    <button class="btn-bitbucket btn-sm" onclick="location.href = '@Url.Action("Index", new { id = ViewBag.id})'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp;Regresar
    </button>
</div>
<h2>Editar Gastos por mes</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.cgcf_id)
    @Html.EditorFor(model => model.cgcf_ccfma_id, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
    <div class="form-group">
        @Html.LabelFor(model => model.cgcf_descripcion, "Descripción", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cgcf_descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cgcf_descripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cgcf_precio_unitario, "Precio Unitario", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cgcf_precio_unitario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cgcf_precio_unitario, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Cantidad</label>
        <div class="col-md-10" style="padding-right:0px">
            @Html.EditorFor(model => model.cgcf_cantidad, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.cgcf_cantidad, "", new { @class = "text-danger" })
        </div>
    </div>
    @if (Model.cgcf_depreciable == true)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.cgcf_precio_unitario, "% Depreciación", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cgcf_porcentaje_depreciacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cgcf_porcentaje_depreciacion, "", new { @class = "text-danger" })
            </div>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(model => model.cgcf_consumible, "Consumible", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.cgcf_consumible)
                @Html.ValidationMessageFor(model => model.cgcf_consumible, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cgcf_depreciable, "Depreciable", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.cgcf_depreciable)
                @Html.ValidationMessageFor(model => model.cgcf_depreciable, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-success btn-sm" type="submit">
                <span class="glyphicon glyphicon-save"></span>&nbsp;@Resources.Resources.guardar
            </button>
        </div>
    </div>
</div>
}

@section Scripts{
    <script type="text/javascript">
        cgcf_precio_unitario = $("#cgcf_precio_unitario").val();
        cgcf_porcentaje_depreciacion = $("#cgcf_porcentaje_depreciacion").val();
        var replaceCommand = [',', 'goodbye'];
        var replaceOutput = ['.', 'hello'];
        for (var i = 0; i < replaceCommand.length; i++) {
            cgcf_precio_unitario = cgcf_precio_unitario.replace(replaceCommand[i], replaceOutput[i]);
        }
        $('#cgcf_precio_unitario').val(cgcf_precio_unitario);

        for (var i = 0; i < replaceCommand.length; i++) {
            cgcf_porcentaje_depreciacion = cgcf_porcentaje_depreciacion.replace(replaceCommand[i], replaceOutput[i]);
        }
        $('#cgcf_porcentaje_depreciacion').val(cgcf_porcentaje_depreciacion);
        $('#cgcf_precio_unitario').keypress(function (event) {
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) &&
                ((event.which < 48 || event.which > 57) &&
                    (event.which != 0 && event.which != 8))) {
                event.preventDefault();
            }

            var text = $(this).val();

            if ((text.indexOf('.') != -1) &&
                (text.substring(text.indexOf('.')).length > 2) &&
                (event.which != 0 && event.which != 8) &&
                ($(this)[0].selectionStart >= text.length - 2)) {
                event.preventDefault();
            }
        });
        $('#cgcf_porcentaje_depreciacion').keypress(function (event) {
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) &&
                ((event.which < 48 || event.which > 57) &&
                    (event.which != 0 && event.which != 8))) {
                event.preventDefault();
            }

            var text = $(this).val();

            if ((text.indexOf('.') != -1) &&
                (text.substring(text.indexOf('.')).length > 5) &&
                (event.which != 0 && event.which != 8) &&
                ($(this)[0].selectionStart >= text.length - 5)) {
                event.preventDefault();
            }
        });
    </script>
    }