@model MVC2013.Models.Acciones

@{
    ViewBag.Title = @Resources.Resources.accion_nombre + "_" + @Resources.Resources.detalle;
    Layout = "~/Areas/Administracion/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resources.accion_detalle</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Resources.Resources.accion_nombre</dt>
        <dd>@Html.DisplayFor(model => model.nombre)</dd>

        <dt>&nbsp;</dt><dd></dd>

        <dt>@Resources.Resources.controlador_nombre</dt>
        <dd>@Html.DisplayFor(model => model.Controladores.nombre)</dd>
    </dl>
    <dl class="dl-horizontal">
        <dd>
            <button class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("Edit", new { id = Model.id_accion })'">
                <span class="glyphicon glyphicon-edit"></span>&nbsp;@Resources.Resources.editar
            </button>
        </dd>
    </dl>
</div>
<div class="form-group">
    <button class="btn-bitbucket btn-sm" onclick="location.href = '@Url.Action("Index")'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
    </button>
</div>
