@model IEnumerable<MVC2013.Models.Situacion>

@{
    ViewBag.Title = "Situacion_Lista";
    Layout = "~/Areas/EstadoFuerza/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Situaciones</h2>

<div class="form-group">
    <button class="btn btn-sm btn-success" type="button" onclick="location.href='@Url.Action("Create")'">
        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Crear
    </button>
</div>

<div class="table-responsive">
    <table class="table-striped">
        <tr>
            <th>Nombre</th>
            <th>¿Es pago?</th>
            <th>Días de falta para Baja en RRHH</th>
            <th>@Resources.Resources.acciones</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.nombre</td>
                @if(item.es_pago)
                {
                    <td>Sí</td>
                }
                else
                {
                    <td>No</td>
                }                
                <td>@item.baja_rrhh</td>
                <td>
                    <button class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("Edit", new { id = item.id_situacion })'">
                        <span class="glyphicon glyphicon-edit"></span>&nbsp;@Resources.Resources.editar
                    </button>
                    <button class="btn btn-info btn-sm" onclick="location.href = '@Url.Action("Details", new { id = item.id_situacion })'">
                        <span class="glyphicon glyphicon-list-alt"></span>&nbsp;@Resources.Resources.detalle
                    </button>
                    <button class="btn btn-danger btn-sm" onclick="location.href = '@Url.Action("Delete", new { id = item.id_situacion })'">
                        <span class="glyphicon glyphicon-trash"></span>&nbsp;@Resources.Resources.eliminar
                    </button>
                </td>
            </tr>
        }

    </table>
</div>

