@model MVC2013.Models.Tipos_Factura

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administracion/Views/Shared/_Layout.cshtml";
}

<h2>Crear Tipo de Factura</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="panel panel-tipo">
            <div class="panel-heading bg-yellow">Información de Tipo de Factura</div>
            <div class="panel-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.serie, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.serie, new { htmlAttributes = new { @class = "form-control", required = "required", id = "focus" } })
                                @Html.ValidationMessageFor(model => model.serie, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-success btn-sm" type="submit">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;@Resources.Resources.guardar
                        </button>
                    </div>
                </div>

            </div>
        </div>

        
    </div>
}
<div>
    <button class="btn btn-sm btn-primary" onclick="location.href = '@Url.Action("Index")'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
    </button>
</div>


<script>
    $('#focus').focus();
</script>