@model IEnumerable<MVC2013.Models.Tipos_Factura>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administracion/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Tipos de Factura</h2>

<p>
    <button class="btn btn-success btn-sm " onclick="location.href = '@Url.Action("Create")'">
        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;@Resources.Resources.crear
    </button>

</p>
<div class="panel panel-tipo">
    <div class="panel-heading bg-black-active">Información de Tipos de Factura</div>
    <div class="panel-body">
        <table class="table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.serie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>

                <th>
                    Acciones
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.serie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("Edit", new { id = item.id_tipo_factura })'">
                            <span class="glyphicon glyphicon-edit"></span>&nbsp;    @Resources.Resources.editar
                        </button>
                        <button class="btn btn-info btn-sm" onclick="location.href = '@Url.Action("Details", new { id = item.id_tipo_factura })'">
                            <span class="glyphicon glyphicon-search"></span>&nbsp;     @Resources.Resources.detalle
                        </button>
                        <button class="btn btn-danger btn-sm" onclick="location.href = '@Url.Action("Delete", new { id = item.id_tipo_factura })'">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;   @Resources.Resources.eliminar
                        </button>

                    </td>
                </tr>
            }

        </table>

    </div>
</div>

