@model MVC2013.Models.Pt_Costos_Fijos

@{
    ViewBag.Title = "Editar Costos Fijos";
    Layout = "~/Areas/Comercializacion/Views/Shared/_Layout.cshtml";
}
<div class="form-group">
    <button class="btn-bitbucket btn-sm" onclick="location.href = '@Url.Action("Index")'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
    </button>
</div>
<h2>Editar Costo Fijo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ccof_id)

        <div class="form-group">
            @Html.LabelFor(model => model.ccof_descripcion, "Descripción", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ccof_descripcion, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.ccof_descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ccof_precio_unitario, "Precio Unitario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ccof_precio_unitario, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @id="pu" } })
                @Html.ValidationMessageFor(model => model.ccof_precio_unitario, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-success btn-sm" type="submit">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;@Resources.Resources.guardar
                </button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    precio = $("#pu").val();
    var replaceCommand = [',', 'goodbye'];
    var replaceOutput = ['.', 'hello'];
    for (var i = 0; i < replaceCommand.length; i++) {
        precio = precio.replace(replaceCommand[i], replaceOutput[i]);
    }
    $('#pu').val(precio);
    $('#pu').keypress(function (event) {
        if ((event.which != 46 || $(this).val().indexOf('.') != -1) &&
            ((event.which < 48 || event.which > 57) &&
                (event.which != 0 && event.which != 8))) {
            event.preventDefault();
        }

        var text = $(this).val();

        if ((text.indexOf('.') != -1) &&
            (text.substring(text.indexOf('.')).length > 2) &&
            (event.which != 0 && event.which != 8) &&
            ($(this)[0].selectionStart >= text.length - 2)) {
            event.preventDefault();
        }
    });
</script>