@model MVC2013.Models.Contratacion

@{
    ViewBag.Title = Resources.Resources.contratacion + "_" + Resources.Resources.crear;
    Layout = "~/Areas/rrhh/Views/Shared/_Layout.cshtml";
}

<div id="create_main">

    <h3>Nuevo Código para Empleado</h3>
    <hr />

    @using (Html.BeginForm("NuevoCodigoEmpleado", "Contratacion", FormMethod.Post, new { @id = "form_crear_contrato" }))
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading  bg-blue">
                        <h4 class="panel-title">Empleado</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4 col-xs-7 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <input type="hidden" id="id_codigo_empleado" name="id_empleado" />
                                    <input type="hidden" id="id_ultima_ubicacion" name="id_ubicacion" />
                                    <div class="input-group">
                                        <input id="id_busqueda_empleado" type="number" class="form-control" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" id="seleccionar_empleado" data-loading-text="Buscando..." type="button">
                                                <span class="glyphicon glyphicon-search"></span>&nbsp; @Resources.Resources.buscar
                                            </button>
                                        </span>
                                    </div>
                                    <label id="error_empleado" style="color:red"></label>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-5 col-sm-6 col-md-8">
                                <div class="form-group">
                                    <label id="empleado_encontrado"></label>
                                </div>
                                <label id="ultima_ubicacion"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading bg-navy">
                        <h4 class="panel-title ">@Resources.Resources.puesto</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 form-group">
                                @Html.Label(Resources.Resources.empresa_nombre, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.id_empresa, (IEnumerable<SelectListItem>)ViewBag.empresa, "---", htmlAttributes: new { @class = "form-control", @required = "required", @id = "dropdown_empresa" })
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 form-group">
                                @Html.Label("Tipo de Puesto", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("tipo_puesto", Enumerable.Empty<SelectListItem>(), "---", htmlAttributes: new { @class = "form-control", @required = "required", @id = "dropdown_tipo_puesto" })
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 form-group">
                                @Html.Label(Resources.Resources.puesto_nombre, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.id_puesto, Enumerable.Empty<SelectListItem>(), "---", htmlAttributes: new { @class = "form-control", @required = "required", @id = "dropdown_puesto" })
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 form-group">
                                @Html.Label(Resources.Resources.fecha_inicio, htmlAttributes: new { @class = "control-label" })
                                <div style="position:relative">
                                    <input type='text' class="form-control" id="fecha_inicio_contrato" name="fecha_inicio" required value="@ViewBag.fecha_inicio_contrato" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 form-group">
                                @Html.Label("Referido por", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.referido_por, "", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pager">
            <button class="btn btn-success btn-sm" type="submit" id="guardar">
                <span class="glyphicon glyphicon-save"></span>&nbsp;@Resources.Resources.crear
            </button>
        </div>
    }
</div>



<script>
    $(function () {
        $(document).ready(function () {
            $('#id_busqueda_empleado').focus();
        });

        $(document).on("keypress", function (e) {
            if ((e.which || e.keyCode) == 13) {
                e.preventDefault();
                if ($("#id_busqueda_empleado").is(":focus")) {
                    //Cuando el modal esta abierto
                    $('#seleccionar_empleado').click();

                } else {
                    $('#guardar').click();
                }
            }
        });


        //Buscar y seleccionar empleado
        $('#seleccionar_empleado').click(function () {
            var btn = $(this);
            $('#empleado_encontrado').text('');
            var id = $('#id_busqueda_empleado').val();
            if (id != "") {
                btn.button('loading');
                $.ajax({
                    url: '@Url.Action("ExisteEmpleado", "Contratacion")',
                    type: 'GET',
                    data: { 'id_empleado': id },
                    success: function (response) {
                        if (response.error == false) //Se encontro el empleado
                        {
                            $('#empleado_encontrado').text("Empleado: " + response.nombre);
                            $('#ultima_ubicacion').text("Ultima ubicación: " + response.ubicacion);
                            $('#id_codigo_empleado').val(response.id_empleado);
                            $('#id_ultima_ubicacion').val(response.id_ubicacion);
                            $('#error_empleado').text('');
                        }
                        else {
                            if (response.msg) {
                                $('#error_empleado').text(response.msg);
                            }
                            else
                            {
                                $('#error_empleado').text('Empleado no encontrado.');
                            }
                            $('#empleado_encontrado').text('');
                            $('#id_codigo_empleado').val('');
                            $('#ultima_ubicacion').text('');
                            $('#id_ultima_ubicacion').val('');
                        }
                        btn.button('reset');
                    },
                    error: function () {
                        alert("Error en la conexión con el servidor. Empleado no completado.");
                        $('#id_empleado').val('');
                    }
                });
            }
        });

        //Obtener los tipos puestos en la empresa seleccionada
        $('#dropdown_empresa').change(function () {
            var id = $(this).val();
            $('#dropdown_tipo_puesto').empty();
            if (id != "") {
                $.ajax({
                    url: '@Url.Action("GetTiposPuestos", "Contratacion")',
                    type: 'GET',
                    data: { 'id_empresa': id },
                    success: function (response) {
                        $('#dropdown_tipo_puesto').append(new Option("---", ""));
                        $.each(response, function (i, puesto) {
                            $('#dropdown_tipo_puesto').append(new Option(puesto.nombre, puesto.valor));
                        });
                    },
                    error: function () {
                        alert("Error en la conexión con el servidor. No se pudo obtener el salario del puesto.");
                        $('#dropdown_tipo_puesto').empty();
                    }
                });
            }
            else {
                $('#dropdown_puesto').empty();
            }
        });

        //Obtener los puestos del Tipo de Puesto seleccionado
        $('#dropdown_tipo_puesto').change(function () {
            var id = $(this).val();
            $('#dropdown_puesto').empty();
            if (id != "") {
                $.ajax({
                    url: '@Url.Action("GetPuestos", "Contratacion")',
                    type: 'GET',
                    data: { 'id_tipo_puesto': id },
                    success: function (response) {
                        $('#dropdown_puesto').append(new Option("---", ""));
                        $.each(response, function (i, puesto) {
                            $('#dropdown_puesto').append(new Option(puesto.nombre, puesto.valor));
                        });
                    },
                    error: function () {
                        alert("Error en la conexión con el servidor. No se pudo obtener el salario del puesto.");
                        $('#dropdown_puesto').empty();
                    }
                });
            }
            else {
                $('#dropdown_puesto').empty();
            }
        });

        $('#form_crear_contrato').submit(function () {
            if ($('#id_codigo_empleado').val() != "") {
                $('#btn_crear_contrato').button('loading');
                return;
            }
            else {
                event.preventDefault();
                return (false);
            }
        });


        $('#fecha_inicio_contrato').datetimepicker({
            viewMode: 'days',
            format: 'DD/MM/YYYY',
        });




    });
</script>
