@model MVC2013.Models.Tipo_Cliente

@{
    ViewBag.Title = @Resources.Resources.tipo_cliente + "_" + @Resources.Resources.eliminar;
    Layout = "~/Areas/Administracion/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resources.tipo_cliente_eliminar</h2>

<h3>@Resources.Resources.confirmacion_eliminar</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Resources.Resources.tipo_cliente</dt>
        <dd>@Html.DisplayFor(model => model.nombre)</dd>
    </dl>
    @using (Html.BeginForm())
    {
        <dl class="dl-horizontal">
            <dd>
                <button class="btn btn-sm btn-danger" type="submit">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;@Resources.Resources.eliminar
                </button>
            </dd>
        </dl>

    }
    <div class="form-group">
        <button class="btn btn-sm btn-primary" onclick="location.href = '@Url.Action("Index")'">
            <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
        </button>
    </div>
</div>