@model MVC2013.Models.Academia

@{
    ViewBag.Title = @Resources.Resources.academia + "_" +@Resources.Resources.eliminar;
    Layout = "~/Areas/rrhh/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resources.academia_eliminar</h2>

<h3>@Resources.Resources.confirmacion_eliminar</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Resources.Resources.academia_nombre</dt>
        <dd>@Html.DisplayFor(model => model.nombre)</dd>
        <dt>@Resources.Resources.academia_direccion</dt>
        <dd>@Html.DisplayFor(model => model.ubicacion)</dd>
    </dl>

    <dl class="dl-horizontal">
        <dd>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <button class="btn btn-danger btn-sm" onclick="location.href = '@Url.Action("Delete", new { id = Model.id_academia })'">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;@Resources.Resources.eliminar
                </button>
            }
        </dd>
    </dl>
</div>
<div class="form-group">
    <button class="btn-bitbucket btn-sm" onclick="location.href = '@Url.Action("Index")'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
    </button>
</div>