@model MVC2013.Models.Contactos

@{
    ViewBag.Title = Resources.Resources.contacto + "_" + Resources.Resources.detalle;
    Layout = "~/Areas/Administracion/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resources.contacto_detalle</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Resources.Resources.nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Resources.Resources.contacto_puesto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto_Puesto.descripcion)
        </dd>

        <dt>
            @Resources.Resources.telefono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Resources.Resources.email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Resources.Resources.comentario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>


        <dt>
            @Resources.Resources.razon_social_contacto
        </dt>

        @foreach (var razon_social_contacto in Model.Razon_Social_Contacto)
        {
            <dd>@Html.DisplayFor(modelItem => razon_social_contacto.Razones_Sociales.razon_social)</dd>
        }
    </dl>
</div>
<p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-sm btn-primary" onclick="location.href = '@Url.Action("Edit", new { id = Model.id_contacto })'">
                <span class="glyphicon glyphicon-edit"></span> @Resources.Resources.editar
            </button>
        </div>
    </div>

    <div class="form-group">
        <button class="btn-sm btn-bitbucket" onclick="location.href = '@Url.Action("Index")'">
            <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
        </button>
    </div>

</p>
