@model MVC2013.Models.Contratos_Servicios
@using System.Globalization
@using MVC2013.Src.Comun.Util
@{
    ViewBag.Title = "Detalle de Memorandum";
    Layout = "~/Areas/Customers/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de Memorandum</h2>

<div>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading bg-purple">Informacion del Memorandum</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            Cliente
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Razones_Sociales.Clientes.nombre)
                        </dd>
                    </dl>
                </div>
                <div class="col-lg-6 col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            Razon Social
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Razones_Sociales.razon_social)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            Memorandum
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.memorandum)
                        </dd>
                    </dl>
                </div>
                <div class="col-lg-6 col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            Solicitante
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.solicitante)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            Estado de Contrato
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Cat_Estados_Servicio_Contratado.nombre)
                        </dd>
                    </dl>
                </div>
                <div class="col-lg-6 col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            Tipo de Factura
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Cat_Tipos_Facturacion.nombre)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            Observacion
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.observacion)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading bg-maroon-active">Servicios Adquiridos</div>
        <div class="panel-body">
            <button class="btn btn-success btn-sm " onclick="location.href = '@Url.Action("Create", "Contratos_Servicios", new { id = Model.id_contrato_servicio })'">
                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Agregar Nuevos Servicios
            </button>

            <hr />
            <table class="table-hover">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Costo
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Fecha de Inicio
                    </th>
                    <th>
                        Fecha de Fin
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
                @foreach (var item_agente in Model.Contratos_Agentes.Where(x => x.activo && !x.eliminado))
                {
                    <tr>
                        <td>
                            @item_agente.Cat_Tipos_Agente.nombre
                        </td>
                        <td>
                            @item_agente.cantidad
                        </td>
                        <td>
                            @item_agente.costo.ToString("C", CultureInfo.GetCultureInfo("es-GT"))
                        </td>
                        <td>
                            @item_agente.precio_venta_unitario.ToString("C", CultureInfo.GetCultureInfo("es-GT"))
                        </td>
                        <td>
                            @item_agente.fecha_inicio.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @if (item_agente.fecha_fin.HasValue)
                            {
                                @item_agente.fecha_fin.Value.ToString("dd/MM/yyyy")
                            }
                            else
                            {
                                <label>----</label>
                            }
                        </td>
                        <td>
                            @if (item_agente.Contratos_Servicios.id_cat_estado_servicio_contratado == (int)Catalogos.Estado_Contrato_Servicio.Activo)
                            {
                                <button class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("Edit", "Contratos_Agentes", new { id = @item_agente.id_contrato_agente })'">
                                    <span class="glyphicon glyphicon-edit"></span>&nbsp;    @Resources.Resources.editar
                                </button>
                                <button class="btn btn-danger btn-sm" onclick="location.href = '@Url.Action("Delete", "Contratos_Agentes", new { id = @item_agente.id_contrato_agente })'">
                                    <span class="glyphicon glyphicon-trash"></span>&nbsp;   @Resources.Resources.eliminar
                                </button>

                            }
                            
                        </td>
                    </tr>
                }
                @foreach (var item_otro_servicio in Model.Contratos_Otros_Servicios.Where(x => x.activo && !x.eliminado))
                {
                    <tr>
                        <td>
                            @item_otro_servicio.Cat_Otros_Servicios.nombre
                        </td>
                        <td>
                            @item_otro_servicio.cantidad
                        </td>
                        <td>
                            @item_otro_servicio.costo.ToString("C", CultureInfo.GetCultureInfo("es-GT"))
                        </td>
                        <td>
                            @item_otro_servicio.precio_venta_unitario.ToString("C", CultureInfo.GetCultureInfo("es-GT"))
                        </td>
                        <td>
                            @item_otro_servicio.fecha_inicio.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @if (item_otro_servicio.fecha_fin.HasValue)
                            {
                                @item_otro_servicio.fecha_fin.Value.ToString("dd/MM/yyyy")
                            }
                            else
                            {
                                <label>----</label>
                            }
                        </td>
                        <td>
                            @if (item_otro_servicio.Contratos_Servicios.id_cat_estado_servicio_contratado == (int)Catalogos.Estado_Contrato_Servicio.Activo)
                            {
                                <button class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("Edit", "Contratos_Otros_Servicios", new { id = @item_otro_servicio.id_contrato_otro_servicio })'">
                                    <span class="glyphicon glyphicon-edit"></span>&nbsp;    @Resources.Resources.editar
                                </button>
                                <button class="btn btn-danger btn-sm" onclick="location.href = '@Url.Action("Delete", "Contratos_Otros_Servicios", new { id = @item_otro_servicio.id_contrato_otro_servicio })'">
                                    <span class="glyphicon glyphicon-trash"></span>&nbsp;   @Resources.Resources.eliminar
                                </button>
                            }

                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>
<p>
    <div>
        <button class="btn btn-sm btn-primary" onclick="location.href = '@Url.Action("Details_RS", "Clientes", new { id_Razon_Social = Model.id_razon_social})'">
            <span class="glyphicon glyphicon-backward"></span>&nbsp;Retornar al Detalle de la Razon Social
        </button>
    </div>
</p>
