@model MVC2013.Models.Monedas

@{
    ViewBag.Title = @Resources.Resources.monedas + "_" + @Resources.Resources.detalle;
    Layout = "~/Areas/Administracion/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resources.monedas_detalle</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>@Resources.Resources.monedas_nombre</dt>
        <dd>@Html.DisplayFor(model => model.nombre)</dd>

        <dt>&nbsp;</dt>
        <dd></dd>

        <dt>@Resources.Resources.monedas_simbolo</dt>
        <dd>@Html.DisplayFor(model => model.simbolo)</dd>

        <dt>&nbsp;</dt>
        <dd></dd>

        <dt>@Resources.Resources.monedas_base</dt>
        <dd>@Html.DisplayFor(model => model.moneda_base)</dd>

        <dt>&nbsp;</dt>
        <dd></dd>

        <dt>@Resources.Resources.monedas_activo</dt>
        <dd>@Html.DisplayFor(model => model.activo)</dd>

    </dl>
    <dl class="dl-horizontal">
        <dd>
            <button class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("Edit", new { id = Model.id_moneda })'">
                <span class="glyphicon glyphicon-edit"></span>&nbsp;@Resources.Resources.editar
            </button>
        </dd>
    </dl>
</div>
<div class="form-group">
    <button class="btn-bitbucket btn-sm" onclick="location.href = '@Url.Action("Index", new { id = @Resources.Resources.boton_regresar_id })'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
    </button>
</div>
