@model MVC2013.Models.Tipos_Agente

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Administracion/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Tipo de Agente</h2>

<h3>¿Está seguro de eliminar el registro?</h3>
<hr />
<div>
    <div class="panel panel-danger">
        <div class="panel-heading bg-red">Informacion Cliente</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>

            </dl>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

<p>
    <div>
        <button class="btn btn-sm btn-primary" onclick="location.href = '@Url.Action("Index")'">
            <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
        </button>
    </div>

</p>
