@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="navbar navbar-inverse navbar-fixed-top">


            <!-- Main Header -->
            <header class="main-header">
                <!-- Logo -->
                <a href="~/" class="logo">
                    <img src="@Url.Content("~/Content/AdminLte/img/logo.png")" width="194" height="54" class="" alt="User Image" />
                </a>
                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <!-- The user image in the navbar-->
                                    <img src="@Url.Content("~/Content/AdminLte/img/user2_160-160.png")" class="user-image" alt="User Image" />
                                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                    <span class="hidden-xs">@Html.Encode(User.Identity.GetUserName())</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- The user image in the menu -->
                                    <li class="user-header">
                                        <img src="@Url.Content("~/Content/AdminLte/img/user2_160-160.png")" class="img-circle" alt="User Image" />
                                        <p>
                                            @Html.Encode(User.Identity.GetUserName())
                                            <small>Member of Transporte y Administración de Valores S.A.</small>
                                        </p>
                                    </li>

                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="#">@System.Threading.Thread.CurrentThread.CurrentCulture.DisplayName</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        </div>
    }

}
