@model MVC2013.Areas.rrhh.Models.Curso_EmpleadoModel
@{
    ViewBag.Title = @Resources.Resources.capacitacion_impartida + "_" + Resources.Resources.detalle;
    Layout = "~/Areas/rrhh/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resources.capacitacion_nombre No. @Model.capacitacion_impartida.id_capacitacion_impartida</h2>

<!--Confirmar Eliminación-->
<div class="modal fade" id="confirm_delete" data-backdrop="static" role="dialog">
    <div style="left: auto;" class="modal-dialog modal-sm ">
        <div class="modal-content">
            <div class="modal-header bg-red">
                @Resources.Resources.confirmacion
                <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
            <div class="modal-body">
                @Resources.Resources.confirmacion_eliminar
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger" id="btn_ok" data-id="">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;@Resources.Resources.eliminar
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modal Mensaje-->
<div class="modal fade" id="mostrar_mensaje" data-backdrop="static" role="dialog">
    <div style="left: auto" class="modal-dialog modal-sm ">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                <label id="titulo">Prueba</label>
            </div>
            <div class="modal-body">
                <label id="mensaje">Prueba</label>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="row">
        <div class="col-lg-6 form-group">
            @Html.Label(@Resources.Resources.fecha_inicio + ":", htmlAttributes: new { @class = "control-label" })
            <text>@Model.capacitacion_impartida.fecha_inicio.ToString("dd/MM/yyyy")</text>
        </div>
        <div class="col-lg-6 form-group">
            @Html.Label(@Resources.Resources.fecha_fin + ":", htmlAttributes: new { @class = "control-label" })
            <text>@Model.capacitacion_impartida.fecha_fin.ToString("dd/MM/yyyy")</text>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 form-group">
            @Html.Label("Ver por empleado:", htmlAttributes: new { @class = "control-label" })
            <input list="lista_empleado" id="id_empleado" autocomplete="off" class="form-control">
            <datalist id="lista_empleado">
                @foreach (var item in Model.empleados)
                {
                    string[] dato = item.ToString().Split('|');
                    <option data-id="@dato[0]" value="@dato[1]"></option>
                }
            </datalist>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 form-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        @Resources.Resources.curso_nombre
                    </div>
                </div>
                <div class="panel-body">
                    <table id="tabla_curso" class="table-responsive" style="max-height:1000px; overflow-y:auto"></table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="pager">
        <button class="btn-bitbucket btn-sm" onclick="location.href = '@Url.Action("Index", "Capacitacion" , new { id = Model.id_academia })'">
            <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
        </button>
    </div>
</div>

<script>
    $(function () {

        //Transferir ID
        $(document).on('click', '.btn_remover', function () {
            $('#btn_ok').data('id', $(this).data('id'));
        });
        
        //Subir archivo de nota
        $(document).on('change', '.btn_subirarchivo', function () {
            var file =$(this).prop("files")[0];
            var request = new XMLHttpRequest();
            var formdata = new FormData();
            formdata.append("file", file);
            var id_curso_empleado = $(this).closest('tr').data("id_ce");
            formdata.append("id_curso_empleado", id_curso_empleado);
            request.open("POST", "/Capacitacion_Impartida/SubirNota/", false);
            request.send(formdata);
            $('#mostrar_mensaje').modal('show');
            $('#mensaje').text("Archivo " + file.name + " subido con éxito.");
        });

        //Obtener los cursos del empleado
        $('#id_empleado').on('input', function() {
            var opt = $('option[value="'+$(this).val()+'"]');
            var id_empleado = opt.data('id');
            if(id_empleado)
            {
                $.ajax({
                    type: "post",
                    data: { 'id_empleado':id_empleado, 'id_capacitacion_impartida': @Model.capacitacion_impartida.id_capacitacion_impartida },
                    url: '@Url.Action("GetCursosEmpleado")',
                    error: function () {
                        alert("Error al solicitar capacitaciones.");
                    },
                    success: function (response) {
                        selector = "#tabla_curso";
                        target = $(selector);
                        target.html("");
                        options = "<thead><th>@Resources.Resources.curso_nombre</th><th>@Resources.Resources.curso_nota</th><th>@Resources.Resources.documento_curso</th><th>@Resources.Resources.acciones</th></thead>"
                        $.each(response, function ($in, item) {
                            var id = item.id_ce;
                            options += "<tr id=\"t_" + item.id_ce + "\" data-id_ce=\"" + item.id_ce + "\"><td>" + item.nombre + "</td>"
                            if(item.nota!=null)
                            {
                                options += "<td width=\"100\"><input data-nota=\"" + item.nota + "\" type=\"number\" class=\"form-control\" value=\"" + item.nota + "\" disabled/></td>"
                            }
                            else
                            {
                                options += "<td width=\"100\"><input data-nota=\"" + item.nota + "\" type=\"number\" class=\"form-control\" value=\"0\" disabled/></td>"
                            }
                            options += "<td><span class=\"btn btn-file btn-sm\"><span class=\"glyphicon glyphicon-upload\"></span>&nbsp;@Resources.Resources.subir <input type=\"file\" class=\"btn_subirarchivo\"></span>&nbsp;<button class=\"btn btn-file btn-sm btn_descargarnota\" style=\"position:center\" onclick=\"location.href='@Url.Action("GetFileCurso","FileHandler")?id_curso_empleado=" + id + "'\"><span class=\"glyphicon glyphicon-download\"></span>&nbsp;@Resources.Resources.descargar</button></td><td><button class=\"btn btn-primary btn-sm btn_modificar_nota\" type=\"button\"><span class=\"glyphicon glyphicon-edit\"></span>&nbsp;@Resources.Resources.modificar_nota</button>&nbsp;<button disabled data-id_curso=\"" +  item.id_curso + "\" class=\"btn btn-success btn-sm btn_guardar\" type=\"button\"><span class=\"glyphicon glyphicon-save\"></span>&nbsp;@Resources.Resources.guardar</button>&nbsp;<button data-id_curso=\"" +  item.id_curso + "\" class=\"btn btn-danger btn-sm btn_remover\" data-toggle=\"modal\" data-target=\"#confirm_delete\" data-id=\"" + item.id_ce  +"\" type=\"button\"><span class=\"glyphicon glyphicon-trash\"></span>&nbsp;@Resources.Resources.eliminar</button></td></tr>"
                        });
                        target.html(options);
                    }
                })
            }
            else
            {
                selector = "#tabla_curso";
                target = $(selector);
                target.html("<thead><th>Curso</th><th>Nota</th><th>@Resources.Resources.subir @Resources.Resources.curso_nota</th><th>Acciones</th></thead>");
            }
        });

        $(document).on('click', '.btn_guardar', function () {
            var nota_input = $(this).closest('tr').find('input').prop('disabled', true);
            $(this).closest('tr').find('button').prop('disabled', false);
            $(this).prop('disabled', true);
            var id_ce = $(this).closest('tr').data("id_ce");
            if(nota_input.val() >= 0)
            {
                $.ajax({
                    url: '@Url.Action("GuardarNota", "Capacitacion_impartida")',
                    type: "POST",
                    data: { 'id_curso_empleado': id_ce, 'nota':nota_input.val() },
                    error: function () {
                        alert("Cambios no efectuados");
                        nota_input.val(nota_input.data('nota'));
                    },
                    success: function (response) {
                        nota_input.data('nota', nota_input.val());
                    }
                });
            }
            else
            {
                nota_input.val(nota_input.data('nota'));
            }
        });

        $(document).on('click', '.btn_modificar_nota', function () {
            $(this).closest('tr').find('input').prop('disabled', false);
            $(this).closest('tr').find('button').prop('disabled', false);
            $(this).prop('disabled', true);
        });

        //Boton para eliminar el empleado
        $('#btn_ok').click(function () {
            $('#confirm_delete').modal('toggle');
            var id = $(this).data('id');
            alert(id);
            $.ajax({
                url: '@Url.Action("EliminarCurso", "Capacitacion_impartida")',
                type: "POST",
                data: { 'id': id },
                error: function () {
                    alert("Error con la conexión con el servidor.");
                },
                success: function (response) {
                    if (response.response == true) {
                        $('#t_' + id.toString()).remove();
                    }
                    else {
                        $('#mensaje').text(response.msg);
                        $('#titulo').text("Error");
                        $('#mostrar_mensaje').modal('show');
                    }
                }
            });
        });

    });
</script>
