@model MVC2013.Models.Municipios

@{
    ViewBag.Title = @Resources.Resources.municipios + "_" + @Resources.Resources.detalle;
    Layout = "~/Areas/Administracion/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resources.municipios_detalle</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Resources.Resources.municipios_nombre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt>
            @Resources.Resources.municipios_activo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>
        <dt>
            @Resources.Resources.municipios_departamento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departamentos.nombre)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dd>
            <button class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("Edit", new { id = Model.id_municipio })'">
                <span class="glyphicon glyphicon-edit"></span>&nbsp;@Resources.Resources.editar
            </button>
        </dd>
    </dl>
</div>
<div class="form-group">
    <button class="btn btn-warning btn-sm" onclick="location.href = '@Url.Action("Index")'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
    </button>
</div>
