@model MVC2013.Models.Municipios

@{
    ViewBag.Title = "Detalle de Municipio";
    Layout = "~/Areas/Customers/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resources.municipios_detalle</h2>
<div class="panel panel-default">
    <div class="panel-heading bg-yellow">Información del Municipio</div>
    <div class="panel-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Nombre
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>
                <dt>
                    Departamento
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Departamentos.nombre)
                </dd>

            </dl>
            <dl class="dl-horizontal">
                <dd>
                    <button class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("Edit", new { id = Model.id_municipio })'">
                        <span class="glyphicon glyphicon-edit"></span>&nbsp;@Resources.Resources.editar
                    </button>
                </dd>
            </dl>
        </div>
    </div>
</div>



<div class="form-group">
    <button class="btn btn-warning btn-sm" onclick="location.href = '@Url.Action("Index")'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
    </button>
</div>
