@model MVC2013.Models.Archivo

@{
    ViewBag.Title = @Resources.Resources.archivo + "_" + @Resources.Resources.detalle;
    Layout = "~/Areas/rrhh/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resources.tipo_archivo_detalle</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Resources.Resources.archivo_nombre</dt>
        <dd>@Html.DisplayFor(model => model.nombre)</dd>
        <dt>@Resources.Resources.archivo_tipo_archivo</dt>
        <dd>@Html.DisplayFor(model => model.Tipo_Archivo.nombre)</dd>
        <dt>@Resources.Resources.archivo_ubicacion</dt>
        <dd>@Html.DisplayFor(model => model.ubicacion)</dd>
    </dl>
</div>
<div>
    <button class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("Edit", new { id = Model.id_archivo })'">
        @Resources.Resources.editar
    </button>
    <button class="btn btn-warning btn-sm" onclick="location.href = '@Url.Action("Index", new { id = @Resources.Resources.boton_regresar_id })'">
        @Resources.Resources.listado_regresar
    </button>
</div>
