@model IEnumerable<MVC2013.Models.Paises>

@{
    ViewBag.Title = @Resources.Resources.paises + "_" + @Resources.Resources.lista;
    Layout = "~/Areas/Administracion/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resources.paises_lista</h2>

<div class="form-group">
    <button class="btn btn-sm btn-success" onclick="location.href = '@Url.Action("Create")'">
        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;@Resources.Resources.crear
    </button>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Resources.Resources.paises_nombre</th>
                <th>@Resources.Resources.paises_activo</th>
                <th>@Resources.Resources.acciones</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.activo)
                <td>
                    <button class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("Edit", new { id = item.id_pais })'">
                        <span class="glyphicon glyphicon-edit"></span>&nbsp;@Resources.Resources.editar
                    </button>
                    <button class="btn btn-info btn-sm" onclick="location.href = '@Url.Action("Details", new { id = item.id_pais })'">
                        <span class="glyphicon glyphicon-list-alt"></span>&nbsp;@Resources.Resources.detalle
                    </button>
                    <button class="btn btn-danger btn-sm" onclick="location.href = '@Url.Action("Delete", new { id = item.id_pais })'">
                        <span class="glyphicon glyphicon-trash"></span>&nbsp;@Resources.Resources.eliminar
                    </button>
                </td>
            </tr>
        }

    </table>
</div>