@model MVC2013.Models.Clientes

@{
    ViewBag.Title = Resources.Resources.clientes+ "_" + Resources.Resources.eliminar;
    Layout = "~/Areas/Administracion/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resources.cliente_eliminar</h2>

<h3>@Resources.Resources.confirmacion_eliminar</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Resources.Resources.nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt>
            @Resources.Resources.descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Cliente.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-sm btn-danger" type="submit">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;@Resources.Resources.eliminar
                </button>
            </div>
        </div>


    }
</div>
<div class="form-group">
    <button class="btn-sm btn-bitbucket" onclick="location.href = '@Url.Action("Index")'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
    </button>
</div>
