@model MVC2013.Models.Ubicaciones

@{
    ViewBag.Title = Resources.Resources.clientes + "_" + Resources.Resources.editar;
    Layout = "~/Areas/Administracion/Views/Shared/_Layout.cshtml";
}

<h2>Editar Ubicacion</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="panel panel-warning">
            <div class="panel-heading bg-yellow-active"><h4>Informacion de Ubicacion</h4></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.direccion, "Direccion", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control", required = "required", id = "focus" } })
                                <font color="red"> @Html.ValidationMessage("direccion") </font>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.cantidad_solicitada, "Guardias Solicitados", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.cantidad_solicitada, new { htmlAttributes = new { @class = "form-control" } })
                                <font color="red"> @Html.ValidationMessage("cantidad_solicitada") </font>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.cantidad_contratados, "Guardias Contratados", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.cantidad_contratados, new { htmlAttributes = new { @class = "form-control" } })
                                <font color="red"> @Html.ValidationMessage("cantidad_contratada") </font>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.id_contacto_encargado, "Encargado", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.id_contacto_encargado, new { htmlAttributes = new { @class = "form-control" } })
                                <font color="red"> @Html.ValidationMessage("encargado") </font>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.id_contacto_responsable, "Responsable", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.id_contacto_responsable, new { htmlAttributes = new { @class = "form-control" }})
                                <font color="red"> @Html.ValidationMessage("responsable") </font>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-success btn-sm" type="submit">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="form-group">
    <button class="btn-sm btn-bitbucket" onclick="location.href = '@Url.Action("Details_RS", new { id_Razon_Social = Model.Razones_Sociales.id_razon_social })'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp;Regresar a Detalle de Razon Social
    </button>
</div>