@model MVC2013.Models.Razones_Sociales

@{
    ViewBag.Title = Resources.Resources.razon_social + "_" + Resources.Resources.editar;
    Layout = "~/Areas/Administracion/Views/Shared/_Layout.cshtml";
}
<!--Modal-->
<!--Generar Relacion-->
<div class="modal fade" id="crear_razon_social_contacto" data-backdrop="static" role="dialog">
    <div style="left: auto" class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("crear_razon_social_contacto", "Razones_Sociales", FormMethod.Post))
            {
                @Html.ValidationSummary(true, "Error", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.id_razon_social)

                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    @Resources.Resources.asignar_contacto_razon_social
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            @Html.Label(@Resources.Resources.contacto)
                            @Html.DropDownList("id_contacto", null, htmlAttributes: new { @class = "form-control", @id = "id_razon_social_contacto" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;@Resources.Resources.guardar
                    </button>
                </div>
            }
        </div>
    </div>
</div>

<!--Inicio de la página-->
<h2>@Resources.Resources.razon_social_editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_razon_social)

        <div class="form-group">
            @Html.LabelFor(model => model.id_cliente, Resources.Resources.cliente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_cliente", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_cliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.razon_social, Resources.Resources.razon_social_nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.razon_social, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.razon_social, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombre_comercial, Resources.Resources.nombre_comercial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre_comercial, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.nombre_comercial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nit, Resources.Resources.nit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nit, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.nit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.direccion_fisica, Resources.Resources.direccion_fisica, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.direccion_fisica, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.direccion_fisica, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.municipio_direccion_fisica, Resources.Resources.direccion_fisica_municipio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("municipio_direccion_fisica", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.municipio_direccion_fisica, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.direccion_fiscal, Resources.Resources.direccion_fiscal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.direccion_fiscal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.direccion_fiscal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.municipio_direccion_fiscal, Resources.Resources.direccion_fiscal_municipio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("municipio_direccion_fiscal", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.municipio_direccion_fiscal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.direccion_facturacion, Resources.Resources.direccion_facturacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.direccion_facturacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.direccion_facturacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.municipio_direccion_facturacion, Resources.Resources.direccion_facturacion_municipio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("municipio_direccion_facturacion", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.municipio_direccion_facturacion, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-success btn-sm" type="submit">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;@Resources.Resources.guardar
                </button>
            </div>
        </div>

    </div>
}


<div class="form-group">
    <button class="btn-sm btn-bitbucket" onclick="location.href = '@Url.Action("Index")'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
    </button>
</div>

<!--Razon Social Contacto-->
<h2>@Resources.Resources.contacto</h2>

<p>
    <button class="btn btn-sm btn-success" type="button" onclick="location.href='@Url.Action("create_contacto", "Razones_Sociales", new { id = Model.id_razon_social })'">
        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;@Resources.Resources.crear
    </button>
    <button class="btn btn-sm btn-primary" data-target="#crear_razon_social_contacto" data-toggle="modal">
        <span class="glyphicon glyphicon-paperclip"></span>&nbsp;@Resources.Resources.asociar
    </button>
</p>

<div class="table-responsive">
    <table class="zebra-striped">
        <thead>
            <tr>
                <th>@Resources.Resources.contacto</th>
                <th>@Resources.Resources.acciones</th>
            </tr>
        </thead>
        @foreach (var razon_social_contacto in Model.Razon_Social_Contacto)
    {
            <tr>
                <td>@Html.DisplayFor(modelItem => razon_social_contacto.Contactos.nombre)</td>
                <td>
                    <button class="btn btn-sm btn-danger" type="button" onclick="location.href='@Url.Action("eliminar_razon_social_contacto", "Razones_Sociales", new { id = razon_social_contacto.id_razon_social_contacto, id_redirect = Model.id_razon_social })'">
                        <span class="glyphicon glyphicon-trash"></span>&nbsp;@Resources.Resources.eliminar
                    </button>
                </td>
            </tr>
    }
    </table>

</div>
