@model MVC2013.Models.Cat_Razones_Anulacion

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Customers/Views/Shared/_Layout.cshtml";
}

<h2>Editar Registro de Razón de Anulación</h2>

@using (Html.BeginForm("Edit", "Cat_Razones_Anulacion", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading bg-purple">Información de Registro</div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id_cat_razon_anulacion)

                <div class="form-group">
                    @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-success btn-sm" type="submit">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;@Resources.Resources.guardar
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>


}

<div>
    <button class="btn btn-sm btn-primary" onclick="location.href = '@Url.Action("Index")'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
    </button>
</div>

