@model MVC2013.Models.Ingresos
@using System.Globalization;
@{
    ViewBag.Title = "Detalles - Autorización de Ingresos";
    Layout = "~/Areas/Inventario/Views/Shared/_Layout.cshtml";
}
<p>

    <div>
        <button class="btn btn-sm btn-primary" onclick="location.href = '@Url.Action("Index_Autorizar")'">
            <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
        </button>
    </div>

</p>
<h2>@Resources.Resources.ingreso_detalle</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Referencia</dt>
        <dd>@Html.DisplayFor(model => model.referencia)</dd>
        <dt>Fecha de Facturación</dt>
        <dd>@Html.DisplayFor(model => model.fecha_factura)</dd>
        <dt>Bodega</dt>
        <dd>@Html.DisplayFor(model => model.Bodegas.descripcion)</dd>
        <dt>Estado del Ingreso</dt>
        <dd>@Html.DisplayFor(model => model.Ingreso_Estado.descripcion)</dd>
    </dl>
    <hr style="height:3px; border-style:solid;background-color:#222d32">
</div>
<div class="table-responsive">
    @if (Model.Ingreso_Detalle.Where(i => i.activo && !i.eliminado).Count() <= 0)
    {
        <table class="table table-striped table-bordered table-responsive">
            <thead style="background-color:cadetblue"></thead>
            <tbody><tr><td><p>No hay datos para mostrar</p></td></tr></tbody>
        </table>
    }
    else
    {
        <table class="table-striped">
            <thead style="background-color:#969aa2">
                <tr>
                    <th class="text-center">@Resources.Resources.tipo</th>
                    <th class="text-center">@Resources.Resources.valor</th>
                    <th class="text-center">@Resources.Resources.cantidad</th>
                    <th class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Ingreso_Detalle in Model.Ingreso_Detalle)
            {
                if (Ingreso_Detalle.activo && !Ingreso_Detalle.eliminado)
                {
            <tr>
                @if (Ingreso_Detalle.id_arma != null)
                        {
                        <td class="text-center">
                            @Resources.Resources.arma
                            <br>Tipo - @Ingreso_Detalle.Armas.Arma_Tipo.descripcion
                            <br>Marca - @Ingreso_Detalle.Armas.Marcas.descripcion
                            <br>Calibre - @Ingreso_Detalle.Armas.Calibres.descripcion
                        </td>
                        }
                @if (Ingreso_Detalle.id_articulo != null)
                        {
                        <td class="text-center">
                            @Resources.Resources.articulo
                            <br>Tipo - @Ingreso_Detalle.Articulos.Articulo_Tipo.descripcion
                        </td>
                        }
                @if (Ingreso_Detalle.id_consumible != null)
                        {
                        <td class="text-center">
                            @Resources.Resources.consumible
                            <br>@Ingreso_Detalle.Consumibles.descripcion
                            <br>Tipo - @Ingreso_Detalle.Consumibles.Consumible_Tipo.descripcion

                        </td>
                        }
                @if (Ingreso_Detalle.id_uniforme != null)
                        {
                        <td class="text-center">
                            @Resources.Resources.uniforme
                            <br>@Ingreso_Detalle.Uniformes.descripcion
                            <br>Tipo - @Ingreso_Detalle.Uniformes.Uniforme_Tipo.descripcion
                            <br>Talla - @Ingreso_Detalle.Uniformes.talla
                        </td>
                        }
                @if (Ingreso_Detalle.id_municion != null)
                        {
                        <td class="text-center">
                            @Resources.Resources.municion
                            <br>@Ingreso_Detalle.Municiones.descripcion
                            <br>Calibre - @Ingreso_Detalle.Municiones.Calibres.descripcion
                        </td>
                        }
                <td class="text-center">@Convert.ToDecimal(Ingreso_Detalle.valor).ToString("C", CultureInfo.GetCultureInfo("es-GT"))</td>
                <td class="text-center">@Html.DisplayFor(modelItem => Ingreso_Detalle.cantidad)</td>
                <td class="text-center">@(((Ingreso_Detalle.valor.Value) * (Ingreso_Detalle.cantidad.Value)).ToString("C", CultureInfo.GetCultureInfo("es-GT")))</td>
            </tr>
                }
            }
            </tbody>
        </table>
    }
</div>