@model MVC2013.Models.Pt_Cotizaciones

@{
    ViewBag.Title = "Crear - Cotizaciones";
    Layout = "~/Areas/Comercializacion/Views/Shared/_Layout.cshtml";
}
<style>
    textarea {
        resize: none !important;
        width: 300px;
        height: 150px;
    }
</style>
<div class="form-group">
    <button class="btn-bitbucket btn-sm" onclick="location.href = '@Url.Action("Index")'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp;Regresar
    </button>
</div>
<h2>Crear Cotizaciones</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.ccot_nombre_proyecto, "Nombre del Proyecto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ccot_nombre_proyecto, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.ccot_nombre_proyecto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ccot_descripcion_general, "Descripción General", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.ccot_descripcion_general, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @resize="none" } })
            @Html.ValidationMessageFor(model => model.ccot_descripcion_general, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ccot_ctpo_id, "Tipo de Proyecto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ccot_ctpo_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ccot_ctpo_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ccot_contacto, "Nombre del Contacto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ccot_contacto, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.ccot_contacto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ccot_telefono_contacto, "Telefóno de contacto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            +502 @Html.EditorFor(model => model.ccot_telefono_contacto, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.ccot_telefono_contacto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ccot_correo_contacto, "Correo de contacto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ccot_correo_contacto, new { htmlAttributes = new { @class = "form-control", @type = "email", @autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.ccot_correo_contacto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ccot_direccion_contacto, "Dirección de contacto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ccot_direccion_contacto, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.ccot_direccion_contacto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ccot_fecha_entrega, "Fecha de entrega", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ccot_fecha_entrega, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.ccot_fecha_entrega, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn-success btn btn-sm">
                <span class="glyphicon glyphicon-save"></span>&nbsp;Crear
            </button>
        </div>
    </div>
</div>
}