@model MVC2013.Models.Pt_Fases_Cotizacion
@using System.Globalization
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Comercializacion/Views/Shared/_Layout.cshtml";
}
<div class="form-group">
    <button class="btn-bitbucket btn-sm" onclick="location.href = '@Url.Action("Index", new { id=ViewBag.cotid})'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
    </button>
</div>
<h2>Eliminar Fase</h2>
<h3>@Resources.Resources.confirmacion_eliminar</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Nombre de la Fase</dt>
        <dd>@Html.DisplayFor(model => model.cfas_nombre)</dd>
        <dt>Descripción</dt>
        <dd>@Html.DisplayFor(model => model.cfas_descripcion)</dd>
        <dt>Fecha de entrega</dt>
        <dd>@Html.DisplayFor(model => model.cfas_fecha_entrega)</dd>
        <dt>Estado</dt>
        <dd>@Html.DisplayFor(model => model.Pt_Estados_Fase.cefa_descripcion)</dd>
        <dt>Cotización</dt>
        <dd>@Html.DisplayFor(model => model.Pt_Cotizaciones.ccot_nombre_proyecto)</dd>
    </dl>
    <dl class="dl-horizontal">
        <dd>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <button class="btn btn-danger btn-sm" onclick="location.href = '@Url.Action("Delete", new { id = Model.cfas_id, gaid=ViewBag.id })'">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;@Resources.Resources.eliminar
                </button>
            }
        </dd>
    </dl>
</div>
