@model MVC2013.Models.Bodega_Inventario_Uniformes

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Inventario/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bodega_Inventario_Uniformes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_bodega_inventario_uniformes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_bodega_inventario_uniformes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.existencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.existencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eliminado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eliminado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_modificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_eliminacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_eliminacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios1.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios1.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios2.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios2.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bodegas.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bodegas.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uniformes.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uniformes.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
