@model MVC2013.Models.Razones_Sociales

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Customers/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Razones_Sociales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.razon_social)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razon_social)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_comercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_comercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion_fisica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion_fisica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion_fiscal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion_fiscal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion_facturacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion_facturacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eliminado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eliminado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_modificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_eliminacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_eliminacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipios.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipios.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipios1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipios1.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipios2.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipios2.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios1.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios1.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios2.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios2.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_razon_social }) |
    @Html.ActionLink("Back to List", "Index")
</p>
