@model MVC2013.Models.Tipo_Permiso_Ausencia

@{
    ViewBag.Title = "Tipo_Permiso_Ausencia_Editar";
    Layout = "~/Areas/rrhh/Views/Shared/_Layout.cshtml";
}

<h2>Editar Tipo de Permiso para Ausencia</h2>

@using (Html.BeginForm("Edit"))
{
    @Html.HiddenFor(e=>e.id_tipo_permiso_ausencia)
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Descripción", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Resources.Resources.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.id_situacion, (IEnumerable<SelectListItem>)ViewBag.situacion, htmlAttributes: new { @class = "form-control", @required = "required" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-sm btn-success">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;@Resources.Resources.guardar
                </button>
            </div>
        </div>
    </div>
}
<div class="form-group">
    <button class="btn-bitbucket btn-sm" onclick="location.href = '@Url.Action("Index")'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
    </button>
</div>