@model MVC2013.Models.Bodega_Inventario_Municiones

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Inventario/Views/Shared/_Layout.cshtml";
}
<style>
    input:invalid {
  background-color: #ffdddd;
}
</style>
@{ int id_egreso = @ViewBag.id_egreso; }
<div>
    <button class="btn btn-sm btn-primary" onclick="location.href = '@Url.Action("sub_municiones", "Egresos", new { id_egreso = id_egreso })'">
        <span class="glyphicon glyphicon-backward"></span>&nbsp;@Resources.Resources.listado_regresar
    </button>
</div>
<h2>Trasladar Municiones</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_municion)
        @Html.HiddenFor(model => model.id_bodega_inventario_municiones)
        @Html.HiddenFor(model => model.id_bodega)
        @Html.HiddenFor(model => model.id_municion)

        @{ int existencia = @ViewBag.existencia; }
        @{ int comprometido = @ViewBag.comprometido; }
        <input id="existenciaCalc" hidden value="@existencia" />
        <input id="comprometido" hidden value="@comprometido" />
        <div class="form-group">
            @Html.LabelFor(model => model.existencia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.existencia, "Existencia", new { htmlAttributes = new { @class = "form-control", min="0", max = existencia, @autofocus="autofocus", @onkeyup="calcExistencia()" } })
                @*@Html.ValidationMessageFor(model => model.existencia, "", new { @class = "text-danger" })*@
                <span class="text-danger" id="error"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="send" class="btn btn-success btn-sm" type="submit">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;@Resources.Resources.enviar_municiones
                </button>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script type="text/javascript">
        function calcExistencia() {
            existenciaCalc = $("#existenciaCalc").val();
            comprometido = $("#comprometido").val();
            var total = parseFloat(existenciaCalc) - parseFloat(comprometido);
            existencia = $("#existencia").val();
            if (existencia < 0) {
                document.getElementById('error').innerHTML = "ERROR: No se permiten números negativos";
                document.getElementById("send").disabled = true;
            } else {
                if (existencia > total) {
                    document.getElementById('error').innerHTML = "ERROR: No hay esa cantidad en existencia.";
                    document.getElementById("send").disabled = true;
                } else {
                    document.getElementById('error').innerHTML = "";
                    document.getElementById("send").disabled = false;
                }
            }
        }
    </script>
    }